$height: 32px;
$border-color: #999;
$border-color-hover: #666;
$border-radius: 4px;
$font-size: 12px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$red: #F1453D;
input.magic {
  height: 32px;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 0 8px;
  font-size: inherit;
    &:hover {
      border-color: $border-color-hover;
    }
    &:focus {
      box-shadow: inset 0 1px 3px $box-shadow-color;
      outline: none;
    }
    &[disabled], &[readonly] {
      border-color: #bbb;
      color: #bbb;
      outline: none;
      cursor: not-allowed; }
}

input.magic.error {
  height: 32px;
  border: 1px solid $red;
  border-radius: 4px;
  padding: 0 8px;
  font-size: inherit;
  &:hover {
    border-color: darkred;
  }
  &:focus {
    box-shadow: inset 0 1px 3px #b40303;
    outline: none;
  }
  &[disabled], &[readonly] {
    border-color: #bbb;
    color: #bbb;
    outline: none;
    cursor: not-allowed; }
  &.error {
    border-color: $red;
  }
}